@import "../../libs/colors.scss";

.form__input {

    position: relative;
    margin-bottom: 20px;

    &--active {
        .input {
            &+.form__label {

                .label__content {
                    transform: translateY(-150%);
                    font-size: 14px;
                    color: color(primary);
                }

                &::after {
                    border-bottom: 2px solid color(primary);
                }
            }
        }
    }

    .form__label {
        position: absolute;
        pointer-events: none;
        left: 0;

        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid color(text);
        }

        .label__content {
            position: absolute;
            left: 0px;
            bottom: 5px;
            transition: all 0.3s ease;
        }
    }

    .input {
        height: 40px;
        width: 100%;

        color: color(text);

        padding: {
            top: 20px;
        }

        border: none;
        outline: none;

        &:focus {
            &+.form__label {

                .label__content {
                    transform: translateY(-150%);
                    font-size: 14px;
                    color: color(primary);
                }

                &::after {
                    border-bottom: 2px solid color(primary);
                }

            }
        }
    }
}